table, th, td {
    border: 1px solid;
  }
  table, th, td {
    border: 2px solid;
  }
  table {
    width: 50%;
  }
  tr:hover {background-color: lightblue;}
  tr:nth-child(even) {background-color: #f2f2f2;}
  th {
    background-color: #f26e6e;
    color: white;
  }